* {
    margin: 0;
}

body {
    min-width: 320px;
    font-size: 16px;
}

div,
img {
    box-sizing: border-box;
}

#app {
    width: 100%;
    padding: 0.3rem 0;
}

#nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;
    /* background: darkblue; */
}

.nav-l {
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    text-align: left;
    /* background: darkblue; */
}

.nav-l>i {
    display: inline-block;
    width: .5rem;
    font-size: 1.1em;
}

.nav-r {
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    text-align: right;
    /* background: darkblue; */
}

.nav-r>i {
    display: inline-block;
    width: .5rem;
    font-size: 1.4em;
}

.nav-m {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 4.4rem;
    height: .5rem;
    font-size: .9375em;
    /* background: aquamarine; */
}

.nav-m>div {
    flex: 1;
    text-align: center;
    /* background: darkgoldenrod; */
}

.nav-m>div:hover {
    /* font-size: 1.0625em; */
    font-weight: bold;
    transform: scale(1.06);
}

.nav-m-active {
    /* font-size: 1.0625em; */
    transform: scale(1.06);
    font-weight: bold;
}

#banner {
    margin-top: 0.4rem;
    padding: 0 0.3rem;
    width: 100%;
}

#banner>img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

#menu {
    margin-top: .4rem;
    margin-bottom: .4rem;
    padding: 0 0.3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* background: darkblue; */
    text-align: center;
}

#menu>div {
    text-align: center;
}

.menu-icon {
    margin-bottom: .1rem;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background: linear-gradient(to right, rgba(255, 90, 76, .8), #fa4535);
    border-radius: 1rem;
}

#menu>div .menu-icon .iconfont {
    font-size: .4rem;
    color: #ffffff;
    /* font-weight: bold; */
}

#menu>div>span {
    display: inline-block;
    font-size: .65em;
    transform: scale(.9);
    /* background: darkcyan; */
}

.line-hr {
    width: 100%;
    height: 1px;
    border-top: 1px solid #f0f0f0;
}

.common-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .35rem;
    padding: 0 0.3rem;
}

.common-title-name {
    font-size: 1em;
    font-weight: bold;
}

.common-title-link {
    padding: .1rem .2rem;
    font-size: .75em;
    border-radius: .5rem;
    border: 1px solid #eaeaea;
    letter-spacing: 1px;
}

.song-list-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: .35rem;
    padding: 0 0.3rem;
}

.song-list-item {
    margin-bottom: .4rem;
    width: 2.2rem;
}

.song-list-item-top {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 5px;
    overflow: hidden;
}

.song-list-item-top>img {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
}

.song-list-item-top::after{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: .6rem;
    /* background: linear-gradient(to bottom, rgba(128, 128, 128, 0.8), rgba(255, 255, 255,.0)); */
}

.song-list-item-top>.iconfont {
    z-index: 4;
    position: absolute;
    top: .05rem;
    right: .05rem;
    display: inline-block;
    font-size: .65em;
    transform: scale(.9);
    color: #ffffff;
}

.song-list-item-bottom {
    margin-top: .1rem;
    width: 2.2rem;
    /* height: .6rem; */
    overflow: hidden;
}

.song-list-item-bottom p {
    display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* width: 2.2rem; */
    height: .6rem;
    line-height: .3rem;
    overflow: hidden;
    letter-spacing: .5px;
    font-size: .75em;
}